/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

/**
 * cancel the extra margin added by
 * plugin: vuepress-plugin-code-copy
 */
.code-copy
  height: 0

/**
 * cancel the site name since we have
 * a pretty taichi word-logo
 * credit to https://github.com/vuejs/vuepress/issues/100#issuecomment-611327133
 */
.site-name.can-hide
  display: none

// custom blocks

// tip
.custom-block.tip
  background-color: #f3f5f7
  border-color: #171717

  .custom-block-title
    color: #171717

  .custom-block-title::before
    content: "☯ "

//warning
.custom-block.warning
  background-color: #f3f5f7
  border-color: #ffe300

  .custom-block-title
    color: #efcd00

//danger
.custom-block.danger
  background-color: #f3f5f7
  border-color: #CC0000

  .custom-block-title
    color: #CC0000
