/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

/**
 * cancel the extra margin added by
 * plugin: vuepress-plugin-code-copy
 */
.code-copy
  height: 0

/**
 * cancel the site name since we have
 * a pretty taichi word-logo
 * credit to https://github.com/vuejs/vuepress/issues/100#issuecomment-611327133
 */
.site-name.can-hide
    display: none
