.terminal {
  //   font-size: 1em;
  //   line-height: 1.2em;
  /* min-height is fine-tuned for fractal code for now, TODO: move this to JSX for flexibility */
  min-width: 519px;
  min-height: 785px;
  //   margin-top: 25px;
  padding: 10px;
  border-radius: 7px;
  position: relative;
  background: #111b27;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 30px 1px rgba(0, 0, 0, 0.15);
}
.terminal::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 10px;
  width: 12px;
  height: 12px;
  background: #f95c5b;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #da3d42, 22px 0 0 0 #fabe3b, 22px 0 0 1px #ecb03e,
    44px 0 0 0 #38cd46, 44px 0 0 1px #2eae32;
}
.build-image {
  position: absolute;
  width: 308px;
  height: 169px;
  border-radius: 7px;
  overflow: hidden;
  left: 258px;
  top: 666px;
  img {
    width: 100%;
    height: 100%;
  }
}
