:root {
  /*****************************************************************************
  * Theme config
  **/
  --pst-header-height: 60px;

  /*****************************************************************************
  * Font size
  **/
  --pst-font-size-base: 15px; /* base font size - applied at body / html level */

  /* heading font sizes */
  --pst-font-size-h1: 36px;
  --pst-font-size-h2: 32px;
  --pst-font-size-h3: 26px;
  --pst-font-size-h4: 21px;
  --pst-font-size-h5: 18px;
  --pst-font-size-h6: 16px;

  /* smaller then heading font sizes*/
  --pst-font-size-milli: 12px;

  --pst-sidebar-font-size: 0.9em;
  --pst-sidebar-caption-font-size: 0.9em;

  /*****************************************************************************
  * Font family
  **/
  /* These are adapted from https://systemfontstack.com/ */
  --pst-font-family-base-system: var(--ifm-font-family-base);
  --pst-font-family-monospace-system: var(--ifm-font-family-monospace);

  --pst-font-family-base: var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base);
  --pst-font-family-monospace: var(--pst-font-family-monospace-system);

  /*****************************************************************************
  * Color
  *
  * Colors are defined in rgb string way, "red, green, blue"
  **/
  --pst-color-primary: var(--ifm-color-primary);
  --pst-color-success: 40, 167, 69;
  --pst-color-info: 0, 123, 255; /*23, 162, 184;*/
  --pst-color-warning: 255, 193, 7;
  --pst-color-danger: 220, 53, 69;
  --pst-color-text-base: var(--ifm-font-color-base);

  --pst-color-h1: var(--pst-color-primary);
  --pst-color-h2: var(--pst-color-primary);
  --pst-color-h3: var(--pst-color-text-base);
  --pst-color-h4: var(--pst-color-text-base);
  --pst-color-h5: var(--pst-color-text-base);
  --pst-color-h6: var(--pst-color-text-base);
  --pst-color-paragraph: var(--pst-color-text-base);
  --pst-color-link: var(--ifm-font-color-base);
  --pst-color-link-hover: var(--ifm-link-color);
  --pst-color-headerlink: var(--ifm-link-color);;
  --pst-color-headerlink-hover: 255, 255, 255;
  --pst-color-preformatted-text: 34, 34, 34;
  --pst-color-preformatted-background: 250, 250, 250;
  --pst-color-inline-code: 232, 62, 140;

  --pst-color-active-navigation: var(--ifm-menu-color-active);
  --pst-color-navbar-link: 77, 77, 77;
  --pst-color-navbar-link-hover: var(--pst-color-active-navigation);
  --pst-color-navbar-link-active: var(--pst-color-active-navigation);
  --pst-color-sidebar-link: var(--ifm-menu-color);
  --pst-color-sidebar-link-hover: var(--pst-color-active-navigation);
  --pst-color-sidebar-link-active: var(--ifm-menu-color-active);
  --pst-color-sidebar-expander-background-hover: 244, 244, 244;
  --pst-color-sidebar-caption: 77, 77, 77;
  --pst-color-toc-link: 119, 117, 122;
  --pst-color-toc-link-hover: var(--pst-color-active-navigation);
  --pst-color-toc-link-active: var(--pst-color-active-navigation);

  /*****************************************************************************
  * Admonitions
  **/

  --pst-color-admonition-default: var(--pst-color-info);
  --pst-color-admonition-note: var(--pst-color-info);
  --pst-color-admonition-attention: var(--pst-color-warning);
  --pst-color-admonition-caution: var(--pst-color-warning);
  --pst-color-admonition-warning: var(--pst-color-warning);
  --pst-color-admonition-danger: var(--pst-color-danger);
  --pst-color-admonition-error: var(--pst-color-danger);
  --pst-color-admonition-hint: var(--pst-color-success);
  --pst-color-admonition-tip: var(--pst-color-success);
  --pst-color-admonition-important: var(--pst-color-success);

  --pst-icon-admonition-default: var(--pst-icon-info-circle);
  --pst-icon-admonition-note: var(--pst-icon-info-circle);
  --pst-icon-admonition-attention: var(--pst-icon-exclamation-circle);
  --pst-icon-admonition-caution: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-warning: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-danger: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-error: var(--pst-icon-times-circle);
  --pst-icon-admonition-hint: var(--pst-icon-lightbulb);
  --pst-icon-admonition-tip: var(--pst-icon-lightbulb);
  --pst-icon-admonition-important: var(--pst-icon-exclamation-circle);

  /*****************************************************************************
  * versionmodified
  **/

  --pst-color-versionmodified-default: var(--pst-color-info);
  --pst-color-versionmodified-added: var(--pst-color-success);
  --pst-color-versionmodified-changed: var(--pst-color-warning);
  --pst-color-versionmodified-deprecated: var(--pst-color-danger);

  --pst-icon-versionmodified-default: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-added: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-changed: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-deprecated: var(--pst-icon-exclamation-circle);

  --pst-sig-color: #4090ed;
}

// html[data-theme='dark'] {
//   --pst-color-text-base: --ifm-color-gray-300;
// }

.autoapi-container {
  @import 'bootstrap/scss/_functions';
  @import 'bootstrap/scss/_variables';
  @import 'bootstrap/scss/_mixins';
  @import 'bootstrap/scss/_grid'; //  引入栅格
  @import 'bootstrap/scss/_tables';
  // @import 'bootstrap/scss/_nav';
  @import 'bootstrap/scss/_utilities';
  @import 'bootstrap/scss/_dropdown';

  width: 100%;

  a > code {
    color: var(--ifm-menu-color);
    font: var(--ifm-font-size-base)/var(--ifm-line-height-base) var(--ifm-font-family-base);
    font-weight: 500;
  }

  .highlight .token.prompt {
    display: none;
  }

  .autoapi-container .nav {
    display: block;
  }

  table p {
    margin-bottom: 0;
  }

  ul.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  p.rubric {
    border-bottom: 1px solid #c9c9c9;
  }
  a {
    color: rgba(var(--pst-color-link), 1);
    text-decoration: none;
  }
  .bd-content a {
    color: rgba(var(--pst-color-link), 1);
    text-decoration: none;
  }
  .bd-content a,
  .bd-content a code {
    color: var(--ifm-link-color);
    text-decoration: var(--ifm-link-decoration);
    transition: color var(--ifm-transition-fast)
      var(--ifm-transition-timing-default);
  }
  a:hover {
    color: rgba(var(--pst-color-link-hover), 1);
    text-decoration: underline;
  }
  a.headerlink {
    color: var(--pst-color-headerlink);
    font-size: 0.8em;
    padding: 0 4px;
    text-decoration: none;
  }

  .heading-style,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2.75rem 0 1.05rem;
    font-family: var(--pst-font-family-heading);
    font-weight: 400;
    line-height: 1.15;
  }
  h1 {
    margin-top: 0;
    font-size: var(--pst-font-size-h1);
    color: rgba(var(--pst-color-h1), 1);
  }
  h2 {
    font-size: var(--pst-font-size-h2);
    color: rgba(var(--pst-color-h2), 1);
  }
  h3 {
    font-size: var(--pst-font-size-h3);
    color: rgba(var(--pst-color-h3), 1);
  }
  h4 {
    font-size: var(--pst-font-size-h4);
    color: rgba(var(--pst-color-h4), 1);
  }
  h5 {
    font-size: var(--pst-font-size-h5);
    color: rgba(var(--pst-color-h5), 1);
  }
  h6 {
    font-size: var(--pst-font-size-h6);
    color: rgba(var(--pst-color-h6), 1);
  }
  .text_small,
  small {
    font-size: var(--pst-font-size-milli);
  }
  hr {
    border: 0;
    border-top: 1px solid #e5e5e5;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: var(--pst-font-family-monospace);
  }
  // code {
  //   padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal);
  // }

  dd {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  table.field-list {
    border-collapse: separate;
    border-spacing: 10px;
    margin-left: 1px;
  }
  table.field-list th.field-name {
    padding: 1px 8px 1px 5px;
    white-space: nowrap;
    background-color: #eee;
  }
  table.field-list td.field-body p {
    font-style: italic;
  }
  table.field-list td.field-body p > strong {
    font-style: normal;
  }
  table.field-list td.field-body blockquote {
    border-left: none;
    margin: 0 0 0.3em;
    padding-left: 30px;
  }
  .table.autosummary td:first-child {
    white-space: nowrap;
  }
  .sig {
    font-family: var(--pst-font-family-monospace);
  }
  .sig-inline.c-texpr,
  .sig-inline.cpp-texpr {
    font-family: unset;
  }
  .sig.c .k,
  .sig.c .kt,
  .sig.c .m,
  .sig.c .s,
  .sig.c .sc,
  .sig.cpp .k,
  .sig.cpp .kt,
  .sig.cpp .m,
  .sig.cpp .s,
  .sig.cpp .sc {
    color: rgba(var(--pst-color-text-base), 1);
  }
  .sig-name {
    color: var(--pst-sig-color);
  }
  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }
  dt.label > span.brackets:not(:only-child):before {
    content: '[';
  }
  dt.label > span.brackets:not(:only-child):after {
    content: ']';
  }
  a.footnote-reference {
    vertical-align: super;
    font-size: small;
  }
  div.deprecated {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
    background-color: #f3e5e5;
    border: 1px solid #eed3d7;
    border-radius: 0.5rem;
  }
  div.deprecated p {
    color: #b94a48;
    display: inline;
  }
  .topic {
    background-color: #eee;
  }
  .seealso dd {
    margin-top: 0;
    margin-bottom: 0;
  }
  .viewcode-back {
    font-family: var(--pst-font-family-base);
  }
  .viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
  }
  span.guilabel {
    border: 1px solid #7fbbe3;
    background: #e7f2fa;
    font-size: 80%;
    font-weight: 700;
    border-radius: 4px;
    padding: 2.4px 6px;
    margin: auto 2px;
  }

  .bd-search {
    position: relative;
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px;
  }
  .bd-search .icon {
    position: absolute;
    color: #a4a6a7;
    left: 25px;
    top: 25px;
  }
  .bd-search input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 35px;
  }
  .bd-toc {
    -ms-flex-order: 2;
    order: 2;
    height: calc(100vh - 2rem);
    overflow-y: auto;
  }
  @supports (position: -webkit-sticky) or (position: sticky) {
    .bd-toc {
      position: -webkit-sticky;
      position: sticky;
      top: calc(var(--pst-header-height) + 20px);
      height: calc(100vh - 5rem);
      overflow-y: auto;
    }
  }
  .bd-toc .onthispage {
    color: #a4a6a7;
  }
  #bd-toc-nav {
    border-left: 1px solid var(--ifm-toc-border-color);
  }
  .section-nav {
    padding-left: 0;
    border-bottom: none;
  }
  .section-nav ul {
    padding-left: 1rem;
  }
  .toc-entry,
  .toc-entry a {
    display: block;
  }
  .toc-entry a {
    padding: 0.125rem 1.5rem;
    color: rgba(var(--pst-color-toc-link), 1);
  }
  @media (min-width: 1200px) {
    .toc-entry a {
      padding-right: 0;
    }
  }
  .toc-entry a:hover {
    color: rgba(var(--pst-color-toc-link-hover), 1);
    text-decoration: none;
  }
  .bd-sidebar {
    padding-top: 0;
  }
  @media (min-width: 720px) {
    .bd-sidebar {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    @supports (position: -webkit-sticky) or (position: sticky) {
      .bd-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: calc(var(--pst-header-height) + 20px);
        z-index: var(--ifm-z-index-fixed) - 1;
        height: calc(100vh - var(--pst-header-height) - 20px);
      }
    }
  }
  .bd-sidebar.no-sidebar {
    border-right: 0;
  }
  .bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: -15px;
    margin-left: -15px;
    font-weight: 500;

    a > code {
      padding: 0;
      line-height: 1.25;
    }
  }
  @media (min-width: 720px) {
    .bd-links {
      display: block;
    }
    @supports (position: -webkit-sticky) or (position: sticky) {
      .bd-links {
        max-height: calc(100vh - 11rem);
        overflow-y: auto;
      }
    }
  }
  .bd-sidenav {
    display: none;
  }
  .bd-content {
    padding-top: 20px;
  }
  .bd-content .section {
    max-width: 100%;
  }
  .bd-content .section table {
    display: block;
    overflow: auto;
  }
  .bd-toc-link {
    display: block;
    padding: 0.25rem 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
  }
  .bd-toc-link:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
  }
  .bd-toc-item.active {
    margin-bottom: 1rem;
  }
  .bd-toc-item.active:not(:first-child) {
    margin-top: 1rem;
  }
  .bd-toc-item.active > .bd-toc-link {
    color: rgba(0, 0, 0, 0.85);
  }
  .bd-toc-item.active > .bd-toc-link:hover {
    background-color: transparent;
  }
  .bd-toc-item.active > .bd-sidenav {
    display: block;
  }
  nav.bd-links p.caption {
    font-size: var(--pst-sidebar-caption-font-size);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    padding: 0 1.5rem;
    color: rgba(var(--pst-color-sidebar-caption), 1);
  }
  nav.bd-links p.caption:first-child {
    margin-top: 0;
  }
  .bd-sidebar .nav {
    // font-size: var(--pst-sidebar-font-size);
  }
  .bd-sidebar .nav ul {
    list-style: none;
    padding: 0 0 0 1.5rem;
  }
  .bd-sidebar .nav li > a {
    display: block;
    padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
    color: rgba(var(--pst-color-sidebar-link), 1);
    line-height: 1.25;
  }
  .bd-sidebar .nav li > a:hover {
    color: rgba(var(--pst-color-sidebar-link-hover), 1);
    text-decoration: none;
    background-color: transparent;
  }
  .bd-sidebar .nav li > a.reference.external:after {
    font-family: Font awesome\5 Free;
    font-weight: 900;
    content: '\f35d';
    font-size: 0.75em;
    margin-left: 0.3em;
  }
  .bd-sidebar .nav .active:hover > a,
  .bd-sidebar .nav .active > a code {
    font-weight: 600;
    color: var(--pst-color-sidebar-link-active);
  }
  .bd-sidebar .nav .active:not(.has-children) > a {
    background: var(--ifm-menu-color-background-active);
  }
  .toc-h2 {
    font-size: 0.85rem;
  }
  .toc-h3 {
    font-size: 0.75rem;
  }
  .toc-h4 {
    font-size: 0.65rem;
  }
  .toc-entry > .nav-link.active {
    font-weight: 600;
    color: #130654;
    color: rgba(var(--pst-color-toc-link-active), 1);
    background-color: transparent;
    border-left: 2px solid rgba(var(--pst-color-toc-link-active), 1);
  }
  .nav-link:hover {
    border-style: none;
  }
  #navbar-main-elements li.nav-item i {
    font-size: 0.7rem;
    padding-left: 2px;
    vertical-align: middle;
  }
  .bd-toc .nav .nav {
    display: none;
  }
  .bd-toc .nav .nav.visible,
  .bd-toc .nav > .active > ul {
    display: block;
  }
  .prev-next-area {
    margin: 20px 0;
  }
  .prev-next-area p {
    margin: 0 0.3em;
    line-height: 1.3em;
  }
  .prev-next-area i {
    font-size: 1.2em;
  }
  .prev-next-area a {
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    max-width: 45%;
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
  }
  .prev-next-area a p.prev-next-title {
    color: rgba(var(--pst-color-link), 1);
    font-weight: 600;
    font-size: 1.1em;
  }
  .prev-next-area a:hover p.prev-next-title {
    text-decoration: underline;
  }
  .prev-next-area a .prev-next-info {
    flex-direction: column;
    margin: 0 0.5em;
  }
  .prev-next-area a .prev-next-info .prev-next-subtitle {
    text-transform: capitalize;
  }
  .prev-next-area a.left-prev {
    float: left;
  }
  .prev-next-area a.right-next {
    float: right;
  }
  .prev-next-area a.right-next div.prev-next-info {
    text-align: right;
  }
  .alert {
    padding-bottom: 0;
  }
  .alert-info a {
    color: #e83e8c;
  }

  .tocsection {
    border-left: 1px solid #eee;
    padding: 0.3rem 1.5rem;
  }
  .tocsection i {
    padding-right: 0.5rem;
  }
  .editthispage {
    padding-top: 2rem;
  }
  .editthispage a {
    color: var(--pst-color-sidebar-link-active);
  }
  .xr-wrap[hidden] {
    display: block !important;
  }
  .toctree-checkbox {
    position: absolute;
    display: none;
  }
  .toctree-checkbox ~ ul {
    display: none;
  }
  .toctree-checkbox ~ label i {
    transform: rotate(0deg);
  }
  .toctree-checkbox:checked ~ ul {
    display: block;
  }
  .toctree-checkbox:checked ~ label i {
    transform: rotate(180deg);
  }
  .bd-sidebar li {
    position: relative;
  }
  .bd-sidebar label {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bd-sidebar label:hover {
    background: rgba(var(--pst-color-sidebar-expander-background-hover), 1);
  }
  .bd-sidebar label i {
    display: inline-block;
    font-size: 0.75rem;
    text-align: center;
  }
  .bd-sidebar label i:hover {
    color: rgba(var(--pst-color-sidebar-link-hover), 1);
  }
  .bd-sidebar li.has-children > .reference {
    padding-right: 30px;
  }
  div.doctest > div.highlight span.gp,
  span.linenos,
  table.highlighttable td.linenos {
    user-select: none;
    -webkit-user-select: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .docutils.container {
    padding-left: unset;
    padding-right: unset;
  }
  a > code {
    border: none;
    background-color: transparent;
  }
  .bd-sidebar .nav li > a {
    display: flex;
    justify-content: space-between;
  }

  .fas.fa-chevron-down {
    background: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem;
    content: ' ';
    display: inline-block;
    filter: var(--ifm-menu-link-sublist-icon-filter);
    height: 1.25rem;
    min-width: 1.25rem;
    transform: rotate(90deg);
    transition: transform var(--ifm-transition-fast) linear;
  }
  .admonition,
  div.admonition {
    margin: 1.5625em auto;
    padding: 0 0.6rem 0.8rem;
    overflow: hidden;
    page-break-inside: avoid;
    border-left: 0.2rem solid;
    border-left-color: rgba(var(--pst-color-admonition-default), 1);
    border-bottom-color: rgba(var(--pst-color-admonition-default), 1);
    border-right-color: rgba(var(--pst-color-admonition-default), 1);
    border-top-color: rgba(var(--pst-color-admonition-default), 1);
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05),
      0 0 0.0625rem rgba(0, 0, 0, 0.1);
    transition: color 0.25s, background-color 0.25s, border-color 0.25s;
  }
  .admonition :last-child,
  div.admonition :last-child {
    margin-bottom: 0;
  }
  .admonition p.admonition-title ~ *,
  div.admonition p.admonition-title ~ * {
    padding: 0 1.4rem;
  }
  .admonition > ol,
  .admonition > ul,
  div.admonition > ol,
  div.admonition > ul {
    margin-left: 1em;
  }
  .admonition > .admonition-title,
  div.admonition > .admonition-title {
    position: relative;
    margin: 0 -0.6rem;
    padding: 0.4rem 0.6rem 0.4rem 2rem;
    font-weight: 700;
    background-color: rgba(var(--pst-color-admonition-default), 0.1);
  }
  .admonition > .admonition-title:before,
  div.admonition > .admonition-title:before {
    position: absolute;
    left: 0.6rem;
    width: 1rem;
    height: 1rem;
    color: rgba(var(--pst-color-admonition-default), 1);
    font-family: Font awesome\5 Free;
    font-weight: 900;
    content: var(--pst-icon-admonition-default);
  }
  .admonition > .admonition-title + *,
  div.admonition > .admonition-title + * {
    margin-top: 0.4em;
  }
  .admonition.attention,
  div.admonition.attention {
    border-color: rgba(var(--pst-color-admonition-attention), 1);
  }
  .admonition.attention > .admonition-title,
  div.admonition.attention > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-attention), 0.1);
  }
  .admonition.attention > .admonition-title:before,
  div.admonition.attention > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-attention), 1);
    content: var(--pst-icon-admonition-attention);
  }
  .admonition.caution,
  div.admonition.caution {
    border-color: rgba(var(--pst-color-admonition-caution), 1);
  }
  .admonition.caution > .admonition-title,
  div.admonition.caution > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-caution), 0.1);
  }
  .admonition.caution > .admonition-title:before,
  div.admonition.caution > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-caution), 1);
    content: var(--pst-icon-admonition-caution);
  }
  .admonition.warning,
  div.admonition.warning {
    border-color: rgba(var(--pst-color-admonition-warning), 1);
  }
  .admonition.warning > .admonition-title,
  div.admonition.warning > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-warning), 0.1);
  }
  .admonition.warning > .admonition-title:before,
  div.admonition.warning > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-warning), 1);
    content: var(--pst-icon-admonition-warning);
  }
  .admonition.danger,
  div.admonition.danger {
    border-color: rgba(var(--pst-color-admonition-danger), 1);
  }
  .admonition.danger > .admonition-title,
  div.admonition.danger > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-danger), 0.1);
  }
  .admonition.danger > .admonition-title:before,
  div.admonition.danger > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-danger), 1);
    content: var(--pst-icon-admonition-danger);
  }
  .admonition.error,
  div.admonition.error {
    border-color: rgba(var(--pst-color-admonition-error), 1);
  }
  .admonition.error > .admonition-title,
  div.admonition.error > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-error), 0.1);
  }
  .admonition.error > .admonition-title:before,
  div.admonition.error > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-error), 1);
    content: var(--pst-icon-admonition-error);
  }
  .admonition.hint,
  div.admonition.hint {
    border-color: rgba(var(--pst-color-admonition-hint), 1);
  }
  .admonition.hint > .admonition-title,
  div.admonition.hint > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-hint), 0.1);
  }
  .admonition.hint > .admonition-title:before,
  div.admonition.hint > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-hint), 1);
    content: var(--pst-icon-admonition-hint);
  }
  .admonition.tip,
  div.admonition.tip {
    border-color: rgba(var(--pst-color-admonition-tip), 1);
  }
  .admonition.tip > .admonition-title,
  div.admonition.tip > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-tip), 0.1);
  }
  .admonition.tip > .admonition-title:before,
  div.admonition.tip > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-tip), 1);
    content: var(--pst-icon-admonition-tip);
  }
  .admonition.important,
  div.admonition.important {
    border-color: rgba(var(--pst-color-admonition-important), 1);
  }
  .admonition.important > .admonition-title,
  div.admonition.important > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-important), 0.1);
  }
  .admonition.important > .admonition-title:before,
  div.admonition.important > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-important), 1);
    content: var(--pst-icon-admonition-important);
  }
  .admonition.note,
  div.admonition.note {
    border-color: rgba(var(--pst-color-admonition-note), 1);
  }
  .admonition.note > .admonition-title,
  div.admonition.note > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-note), 0.1);
  }
  .admonition.note > .admonition-title:before,
  div.admonition.note > .admonition-title:before {
    color: rgba(var(--pst-color-admonition-note), 1);
    content: var(--pst-icon-admonition-note);
  }
  a.headerlink {
    visibility: hidden;
  }
  h1:hover > a.headerlink,
  h2:hover > a.headerlink,
  h3:hover > a.headerlink,
  h4:hover > a.headerlink,
  h5:hover > a.headerlink,
  h6:hover > a.headerlink,
  dt:hover > a.headerlink,
  caption:hover > a.headerlink,
  p.caption:hover > a.headerlink,
  div.code-block-caption:hover > a.headerlink {
    visibility: visible;
  }
  dt[id], section[id] {
    scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);
  }
  .rst-current-version {
    .dropdown {
      cursor: pointer;
    }
    .dropdown-menu {
      top: 1.5rem;
      background-color: var(--ifm-dropdown-background-color);
      border-radius: var(--ifm-global-radius);
      box-shadow: var(--ifm-global-shadow-md);
      color: var(--ifm-dropdown-link-color);

      .dropdown-item {
        background-color: var(--ifm-dropdown-background-color);
        color: var(--ifm-dropdown-link-color);
        text-decoration: none;
      }
      strong .dropdown-item{
        color: var(--ifm-link-color);
        background-color: var(--ifm-dropdown-hover-background-color);
      }
      .dropdown-item:hover {
        background-color: var(--ifm-dropdown-hover-background-color);
        color: var(--ifm-dropdown-link-color);
      }
      // left: 0;
      // list-style: none;
      // max-height: calc(100vh - var(--ifm-navbar-height));
      // min-width: 10rem;
      // opacity: 0;
      // overflow-y: auto;
      // padding: 0.5rem;
      // position: absolute;
      // // top: calc(100% - var(--ifm-navbar-item-padding-vertical));
      // transform: translateY(-0.625rem);
      // visibility: hidden;
      // z-index: var(--ifm-z-index-dropdown);
      // transition-property: opacity, transform, visibility;
      // transition-duration: var(--ifm-transition-fast);
      // transition-timing-function: var(--ifm-transition-timing-default);
    }
    .dropdown:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
  .rst-versions {
    display: none;
    padding: 0 var(--ifm-menu-link-padding-horizontal);
  }
  dl {
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  dl > dt {
    background-color: var(--ifm-table-stripe-background);
    border-radius: inherit;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: .5rem 1rem .5rem 1rem;
  }
  dd.field-odd {
    margin-left: 0;
  }
}
